<div class="container" style="margin: 100px 0">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar datos de producto nº {{producto.id}}</h4>
            <form action="/admin/productos/modificar" method="post">
                <input type="hidden" value="{{producto.id}}" name="id">
                <div class="form-group">
                    <label for="">Título</label>
                    <input type="text" class="form-control" name="titulo" value="{{producto.titulo}}">
                </div>
                <div class="form-group">
                    <label for="">Descripción</label>
                    <textarea class="form-control" name="subtitulo">{{producto.subtitulo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Modificar</button>
            </form>

            {{#if error}}
                <p>{{message}}</p>
            {{/if}}

        </div>
    </div>
</div>


{{!-- <input type="text" class="form-control" name="subtitulo" value="{{producto.subtitulo}}"> --}}